/**
* * Symbiota Redesign - main.css
* * Version: September 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/** 
* * CONTENTS
* * - Fonts imports
* * - Global variables
* * - Global styles
* * - Utility classes
* * - Components
*/

/* Fonts imports
  ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global variables and components
   ========================================================================== */
@import "base.css";
@import "variables.css";
@import "header.css";
@import "footer.css";

/* Global styles
   ========================================================================== */
html {
  font-size: 16px; /* This is what 1 rem will be base off of */
  height: 100%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-size: var(--body-font-size, 1rem);
  font-weight: 400;
  font-family: var(--body-font-family);
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--darkest-color);
  font-weight: 700;
  font-family: var(--heading-font-family);
}
/*
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}
*/

a {
  transition: all 0.2s ease-in-out;
  color: var(--link-color);
  font-weight: 600;
}

a:hover {
  color: var(--bright-color);
  cursor: pointer;
}

button {
  background-color: var(--darkest-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--heading-font-family);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--medium-color);
  color: var(--light-color);
}

button:disabled {
  background-color: var(--light-color);
  color: var(--medium-color);
}

hr {
  border: 1px solid var(--bright-color);
}

#innertext {
  margin: 0 auto;
  background-color: var(--body-bg-color);
  width: 90%;
}

#innertext p {
  color: var(--body-text-color);
  line-height: 1.5;
}

#popup-innertext {
  padding: 0 1rem;
}

.navpath {
  margin: 10px auto;
  width: 100%;
  max-width: var(--max-innertext-width);
}

/**
/* overriding jQuery UI CSS */
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-content a {
  font-family: var(--body-font-family);
}

#maps.ui-widget-content button a {
  color: #fff;
  text-decoration: none;
}

#maps.ui-widget-content button:hover a {
  color: #000;
}

#innertext #tabs {
  max-width: 100%;
}

#tabs {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
}

#tabs div:first-child {
}

#tabs a {
  color: var(--darkest-color);
  transition: all 0.2s ease-in-out;
}

#tabs a:hover {
  color: var(--bright-color);
}

/***********************************************************************/

/* Utility classes
========================================================================== */
.text-huge {
  font-size: 4rem;
  font-family: var(--title-font-family);
  margin: 0;
}

.text-big {
  font-size: 2rem;
  font-weight: bold;
}

.text-md {
  font-size: 1.3rem;
  font-weight: bold;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: center;
}

.grid-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  fit-content: auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > a {
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  background-color: var(--darkest-color);
}

.button-danger {
  background-color: var(--danger-color, var(--darkest-color));
}

.button-primary:hover,
.button-secondary:hover,
.button-danger:hover 
{
  background-color: var(--medium-color);
}

.button-primary:disabled,
.button-secondary:disabled,
.button-danger:disabled
{
	opacity: 50%;
	pointer-events: none;
}

.button-primary:hover > a,
.button-secondary:hover > a {
  color: var(--light-color);
}

.button-primary > a {
  color: var(--light-color);
}

.button-secondary {
  background-color: var(--bright-color);
}

.button-secondary > a {
  color: var(--darkest-color);
}

.button-tertiary {
  background-color: none;
  border: 1px solid var(--bright-color);
  padding: 0.5rem 0.9rem;
}

/* Media queries
========================================================================== */
/* Medium screens and up */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* header, breadcrumbs, main, footer */
  }
}

/* Medium-large screens only */
@media screen and (min-width: 1024px) {
  #innertext {
    width: 90%;
    max-width: var(--max-innertext-width);
  }
}

/* Huge screens only */
@media screen and (min-width: 2560px) {
  .text-huge {
    font-size: 5rem;
    font-family: var(--title-font-family);
    margin: 0;
  }

  .text-big {
    font-size: 2.5rem;
  }
}
/* -------------------- */

.top-breathing-room-rel {
  margin-top: 1rem;
}

.top-breathing-room-rel-sm {
  margin-top: 0.5rem;
}

.left-breathing-room-rel {
  margin-left: 1rem;
}

.bottom-breathing-room {
  margin-bottom: 10px;
}

.bottom-breathing-room-rel {
  margin-bottom: 1rem;
}

.bottom-breathing-room-rel-sm {
  margin-bottom: 0.5rem;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.cat-icon-div {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-checkbox {
  width: 25px;
  padding-top: 8px;
}

.no-margin {
  margin: 0;
}

.search-bar {
  width: 25rem;
}

.float-right {
  float: right;
}

/* JQUERY UI modifications */
.ui-tabs-panel {
  font-size: 1rem;
}

.ui-tabs-tab {
  font-size: 1rem;
}

.ui-autocomplete {
  /* from https://stackoverflow.com/questions/32517694/jquery-autocomplete-dropdown-is-transparent */
  background-color: inherit;
}
