/**
* * Symbiota Redesign - main.css
* * Version: September 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/** 
* * CONTENTS
* * - Fonts imports
* * - Global variables
* * - Global styles
* * - Utility classes
* * - Components
*/

/* Fonts imports
  ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global variables and components
   ========================================================================== */
@import "base.css";
@import "variables.css";
@import "header.css";
@import "footer.css";

/* Global styles
   ========================================================================== */
html {
  font-size: 10px; /* 1rem = 10px */
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4 {
  color: var(--darkest-color);
  font-weight: 700;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

a {
  transition: all 0.2s ease-in-out;
  color: var(--link-color);
  font-weight: 600;
}

a:hover {
  color: var(--bright-color);
  cursor: pointer;
}

button {
  background-color: var(--darkest-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--heading-font-family);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

button:hover {
  background-color: var(--medium-color);
  color: var(--light-color);
}

hr {
  border: 1px solid var(--bright-color);
}

#innertext {
  margin: 0 auto;
  padding: 3rem 0;
  background-color: var(--body-bg-color);
  width: 90%;
}

#innertext p {
  color: var(--body-text-color);
  line-height: 1.5;
}

#popup-innertext {
  font-size: 1.2rem;
}

.navpath {
  margin: 10px auto;
  width: 100%;
  max-width: var(--max-innertext-width);
}

/**
/* overriding jQuery UI CSS */
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-content a {
  font-family: var(--body-font-family);
}

#maps.ui-widget-content button a {
  color: #fff;
  text-decoration: none;
}

#maps.ui-widget-content button:hover a {
  color: #000;
}

#innertext #tabs {
  max-width: 100%;
}

#tabs {
  font-family: var(--body-font-family);
}

#tabs div:first-child {
}

#tabs a {
  color: var(--darkest-color);
  transition: all 0.2s ease-in-out;
}

#tabs a:hover {
  color: var(--bright-color);
}

#tabs table {
  width: 90%;
}

/***********************************************************************/

/* Utility classes
========================================================================== */
.text-huge {
  font-size: 4rem;
  font-family: var(--title-font-family);
  margin: 0;
}

.text-big {
  font-size: 2rem;
  font-weight: bold;
}

.text-md {
  font-size: 1.3rem;
  font-weight: bold;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: center;
}

.grid-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  fit-content: auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.button > a {
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  background-color: var(--darkest-color);
}

.button-primary:hover,
.button-secondary:hover {
  background-color: var(--medium-color);
}

.button-primary:hover > a,
.button-secondary:hover > a {
  color: var(--light-color);
}

.button-primary > a {
  color: var(--light-color);
}

.button-secondary {
  background-color: var(--bright-color);
}

.button-secondary > a {
  color: var(--darkest-color);
}

.button-tertiary {
  background-color: none;
  border: 1px solid var(--bright-color);
  padding: 0.5rem 0.9rem;
}

.skip-link {
  position: absolute;
  left: -10000px;
}

/* Media queries
========================================================================== */
/* Medium screens and up */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* header, breadcrumbs, main, footer */
  }
}

/* Medium-large screens only */
@media screen and (min-width: 1024px) {
  #innertext {
    width: 90%;
    max-width: var(--max-innertext-width);
  }
}

/* Huge screens only */
@media screen and (min-width: 2560px) {
  .text-huge {
    font-size: 5rem;
    font-family: var(--title-font-family);
    margin: 0;
  }

  .text-big {
    font-size: 2.5rem;
  }
}
/* -------------------- */

.lat-long-group-label {
  margin-top: 4px;
}

.accessible-font {
  font-size: 1.4em;
}

.bottom-breathing-room {
  margin-bottom: 10px;
}

.top-tiny-breathing-room {
  margin-top: 5px;
}

.top-breathing-room-rel {
  margin-top: 1rem;
}

.left-breathing-room-rel {
  margin-left: 1rem;
}

.nested-li {
  margin-left: 1.5em;
}

.fieldset-like {
  /* borrowed from: https://www.geeksforgeeks.org/how-to-achieve-fieldset-like-effect-without-using-fieldset-tag/ */
  border: 0.2em solid;
  border-top: none;
  margin: 2rem 0 1rem 1rem;
  padding: 0.8rem;
}

.fieldset-like h1 {
  font: 1.5rem normal;
  margin: -1.6rem -0.8rem 0rem;
}

.fieldset-like h1 span {
  float: left;
}

.fieldset-like h1:before {
  border-top: 0.15em solid;
  content: " ";
  float: left;
  margin: 0.8rem 0.1rem 0 -0.2rem;
  width: 1.2rem;
}

.fieldset-like h1:after {
  border-top: 0.15em solid;
  content: " ";
  display: block;
  height: 2.4rem;
  left: 0.3rem;
  margin: 0 0.1rem 0 0;
  overflow: hidden;
  position: relative;
  top: 0.8rem;
}

.btn-medium-font {
  font-size: 0.6em;
  text-decoration: none;
}

.profile-fieldset {
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px outset #808080;
}

.profile-login {
  margin: 20px;
  width: 350px;
}

.profile-legend {
  font-weight: bold;
}

.checkbox-pre-label {
  margin-bottom: 10px;
}

.small-header {
  font-size: 1.3em;
  font-weight: bold;
}

.gridlike-form {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.gridlike-form-no-margin {
  display: flex;
  flex-direction: column;
}

.gridlike-form-row {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gridlike-form-row-label {
  width: 100px;
}

.gridlike-form-row-input {
  width: 40%;
}

.bottom-breathing-room-relative {
  margin-bottom: 1rem;
}

.col-profile-img {
  border: 1px;
  height: 6.4rem;
  width: 6.4rem;
}

.col-profile-header {
  margin-left: 0.5em;
}

.col-profile-inst-code {
  min-width: 9rem;
  max-width: 9rem;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.sciname-search {
  float: left;
  margin: 10px 0px 10px 30px;
}

.sciname-search-container {
  float: right;
  width: 30rem;
  margin-bottom: 1rem;
}

.margin-rt-rel {
  margin-right: 1rem;
}

.bottom-breathing-room-sm-rel {
  margin-bottom: 0.5rem;
}

.cat-icon-div {
  width: 4rem;
  height: 3rem;
}

.collection-checkbox {
  width: 25px;
  padding-top: 8px;
}

.no-margin {
  margin: 0;
}

.no-margin-left {
  margin-left: 0;
}
.taxon-search-bar {
  width: 25rem;
}

.welcome-text {
  margin-bottom: 0.75rem;
}

.img-add {
  border: 0px;
  width: 15px;
}

.load-button {
  margin-top: 0.75rem;
}

.top-breathing-room-rel-sm {
  margin-top: 0.5rem;
}

.tax-meta-arr {
  float: left;
  margin: 1rem 0rem 2.5rem 0rem;
  font-weight: bold;
  font-size: 120%;
}

.tax-detail-div {
  margin-top: 1.35rem;
  margin-left: 0.7rem;
  float: left;
  font-size: 80%;
}

.tax-meta-div {
  margin: 1rem 1.35rem 3rem 1.35rem;
  display: none;
  clear: both;
}

.taxon-search-bar {
  width: 25rem;
}

.fieldset-size {
  padding: 10px;
  max-width: 500px;
}

.max-width-fit-75 {
  max-width: 100%;
  width: 75rem;
}

.underlined-text {
  text-decoration: underline;
}
/* Accordion styling from NEON
========================================================================== */

.accordions input.accordion-selector {
  display: none;
}

.accordions label.accordion-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #0073cf;
  color: #0073cf;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  position: relative;
}

.accordions label.accordion-header:hover {
  background: #e6e6e6;
}

.accordions label.accordion-header::after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e313";
  position: absolute;
  right: 20px;
  top: 10px;
}

.accordions .content {
  background: #ffffff;
  padding: 10px 25px;
  border: 1px solid #d7d9d9;
  margin: -1px 0 10px 0;
  border-radius: 2px;
}

.accordions .accordion-selector + label + .content {
  display: none;
  opacity: 0;
  height: 0;
  padding: 0 25px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.accordions .accordion-selector:checked + label + .content {
  display: block;
  opacity: 1;
  height: auto;
  padding: 10px 25px;
}

.accordions .accordion-selector:checked + label::after {
  content: "\e316";
}

/* End accordion styling from NEON
========================================================================== */

/* Input Text ********************************************************************************/
.input-text-container {
  --bg: $neon-lighter-gray;
  --height: 46px;
  --bg-hover1: rgba(0, 0, 0, 0.08);
  --bbc: rgba(0, 0, 0, 0.42);
  --opaq1: 0.08;
  --fz: 16px;
  margin: 0 auto;
  padding-top: 14px;
  width: 100%;
  max-width: 600px;
}

.input-text-container label {
  position: relative;
  width: 100%;
  display: inline-block;
}

.input-text-container label span::after,
.input-text-container label span::before {
  position: absolute;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.input-text-container label span::before {
  content: attr(data-label);
  left: 16px;
  top: 16px;
  margin: auto;
  pointer-events: none;
  height: 12px;
  font-size: var(--fz);
  color: gray;
  line-height: 1;
}

.input-text-container label input:focus ~ span::before,
.input-text-container label input:valid ~ span::before,
.input-text-container label input:invalid ~ span::before {
  font-size: 0.8em;
  color: #005dab;
}

.input-text-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  height: var(--height);
  padding: 10px 5px;
  font-size: 1em;
}

.input-text-container input:focus,
.input-text-container input:active {
  outline: 0;
  border: 0;
}

.input-text-container .input-text--filled {
  border-bottom: 1px solid var(--bbc);
}

.input-text-container .input-text--filled > input {
  background-color: var(--bg);
  border-radius: 4px 4px 0 0;
}

.input-text-container .input-text--filled > input:hover {
  background-color: var(--bg-hover1);
}

.input-text-container .input-text--filled > input:focus ~ span::before,
.input-text-container .input-text--filled > input:valid ~ span::before,
.input-text-container .input-text--filled > input:invalid ~ span::before {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  font-size: 0.8em;
  color: #005dab;
}

.input-text-container .input-text--filled > input:focus ~ span::after,
.input-text-container .input-text--filled > input:valid ~ span::after,
.input-text-container .input-text--filled > input:invalid ~ span::after {
  width: 100%;
}

.input-text-container .input-text--filled span::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #005dab;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.input-text-container .input-text--outlined > input {
  border-radius: 0;
}

.input-text-container .input-text--outlined > input:focus {
  -webkit-box-shadow: 0 0 0 2px #005dab;
  box-shadow: 0 0 0 2px #005dab;
  border-color: transparent;
}

.input-text-container .input-text--outlined > input:focus ~ span::before,
.input-text-container .input-text--outlined > input:valid ~ span::before,
.input-text-container .input-text--outlined > input:invalid ~ span::before {
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
  background-color: white;
  padding: 2px 4px;
}

/* End Input Text ********************************************************************************/

/* Select control ***********************************/
.select-container label {
  font-size: 0.8em;
  postion: relative;
  top: 22px;
  background-color: white;
  padding: 2px 4px;
}

.select-container label span {
  content: attr(data-label);
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  color: gray;
  line-height: 1;
}

.select-container select {
  margin-top: 14px;
  height: 46px;
  border: 2px solid #939292;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.17);
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}

.select-container select:active,
.select-container select:focus {
  border-color: #005dab;
}
/* End Select control ***********************************/

/* Text Area ********************************************************************************/
.text-area-container {
  --bg: $neon-lighter-gray;
  --bg-hover1: rgba(0, 0, 0, 0.08);
  --bbc: rgba(0, 0, 0, 0.42);
  --opaq1: 0.08;
  --padding: 10px;
  --fz: 16px;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
}

.text-area-container label {
  position: relative;
  width: 100%;
  display: inline-block;
}

.text-area-container label span::after,
.text-area-container label span::before {
  position: absolute;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.text-area-container label span::after {
  position: absolute;
  top: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.text-area-container label span::before {
  content: attr(data-label);
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  height: 12px;
  font-size: var(--fz);
  line-height: 1;
}

.text-area-container textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: 0;
  height: 100px;
  padding: var(--padding);
  font-size: 1em;
}

.text-area-container textarea ~ span::before {
  top: -60px;
  font-size: 0.8em;
  color: #005dab;
}

.text-area-container textarea:focus,
.text-area-container textarea:active {
  outline: 0;
  border: 0;
}

.text-area-container .text-area--outlined > textarea {
  border: 1px solid var(--bbc);
  border-radius: 0;
}

.text-area-container .text-area--outlined > textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #005dab;
  box-shadow: 0 0 0 2px #005dab;
  border-color: transparent;
}

.text-area-container .text-area--outlined > textarea:focus ~ span::before,
.text-area-container .text-area--outlined > textarea:valid ~ span::before {
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
  background-color: white;
  padding: 2px 4px;
}

/* End Text Area ********************************************************************************/

.clear-both {
  clear: both;
}

.no-left-margin {
  margin-left: 0;
}
.underlined-text {
  text-decoration: underline;
}

.background-gray-light {
  background-color: #f2f2f2;
}

.max-width-fit-65 {
  max-width: 100%;
  width: 65rem;
}
.bigger-left-margin-rel {
  margin-left: 3rem;
}

.nativity-div {
  margin-top: 1em;
  font-size: 125%;
  font-weight: bold;
}

.voucher-admin-header {
  font-size: 2em;
  font-weight: bold;
  margin: 0px 10px 10px 0px;
}

.left-breathing-room-rel-lg {
  margin-left: 2em;
}
