/config/dbconnection.php
/config/symbini.php
/config/auth_config.php
/footer.php
/header.php
/leftmenu.php
/index.php
includes/header.php
includes/footer.php
includes/head.php
includes/leftmenu.php
includes/spprofilehead.php
includes/usagepolicy.php
includes/citationgbif.php
includes/citationcollection.php
includes/citationdataset.php
includes/citationportal.php
