.tabby {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.pin-things-here {
  position: relative;
}

.sticky-buttons {
  position: sticky;
  top: 1rem;
  float: right;
}

.full-tab {
  flex-basis: 100%;
}

.fieldset-padding {
  padding: 10px;
  padding-left: 25px;
}

.fieldset-padding-rem {
  padding-top: 2rem;
  padding-left: 2rem;
}

.fieldset-observation-padding-rem {
  padding-right: 20rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.record-criteria-inputs {
  margin: 10px;
  float: left;
}

.specimen-header-margin {
  margin-top: 2.5rem;
}

.special-indent {
  margin: 20px 0px 10px 20px;
}

.extra-stats {
  width: 350px;
  background-color: #ffffcc;
}

.submit-button-div {
  clear: both;
  margin-top: 8px;
}

.condense-expand-button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.condense-expand-flex {
  display: flex;
  flex-direction: row;
}

.input-margin {
  margin-right: 0.7rem;
}

.rel-fontsize {
  font-size: 1.35rem;
}

.observation-fieldset {
  padding-top: 2rem;
  padding-left: 2rem;
}

.run-stat-btn {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.clr {
  clear: both;
}

.top-marg {
  margin-top: 10px;
}

.heavy-txt {
  font-weight: bold;
  font-size: 120%;
}

.mn-ht {
  min-height: 300px;
}

.big-fnt-margin {
  font-weight: bold;
  font-size: 105%;
  margin: 10px;
}

.dsply-none {
  display: none;
}

.stats-display-fieldset {
  float: left;
  width: 400px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.stats-display-ul {
  margin: 0px;
  padding-left: 10px;
}

.stat-csv-margin {
  margin-top: 8px;
}

.float-and-block {
  float: left;
  display: block;
}

.float-and-no-display {
  float: left;
  display: none;
}

.stat-csv-float-margins {
  float: left;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  padding: 2px;
}

.no-btm-mrgn {
  margin-bottom: 0px;
}

.yearstatbox-width {
  width: 350px;
}

.yearstatbox-left-float {
  float: left;
}

.yearstatbox-submit-btn-margin {
  margin-left: 10px;
  float: left;
}

.cntr-text {
  text-align: center;
}

.statspercollbox {
  clear: both;
  margin-top: 15px;
  width: 90%;
  display: none;
}

.famdistbox {
  clear: both;
  margin-top: 15px;
  width: 800px;
  display: none;
}

.geodistbox {
  margin-top: 15px;
  width: 800px;
  display: none;
}
