.bar::after {
  margin-top: 1em;
}

.allcatalognumbers {
  display: grid;
  /*grid-template-columns: 2fr 6fr 2fr 1fr;*/
  grid-template-columns: 1fr 3fr 2fr 1fr;
  column-gap: 6pt;
}

/* second item inside allcatalognumbers */
.allcatalognumbers > *:nth-child(2) {
  text-align: center;
}

.allcatalognumbers > :last-child {
  text-align: right;
}
