.accessibility-option-button {
	width: fit-content;
	padding: 10px;
	background-color: var(--link-color);
	color: var(--body-bg-color);
}

.accessibility-option-button:hover {
	cursor: pointer;
	background-color: var(--medium-color);
}
.accessibility-dialog{
	position: fixed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 5px;
}
.button__item-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
